{% if app.user.getOtpEnable() != 1 %}
    {% if error is defined and error.otp == 0 %}
        <div class="alert alert-danger">
            {{ 'error validating your code' }}
        </div>
    {% endif %}
    <button id="2fa" class="btn btn-info" style="font-size: 16px; padding:8px 8px;">
        {{ 'Enable two-factor authentication' }}
    </button>

    <div id="hidden_zone_otp" style="display: none;">
        <div>
            <strong>{{ 'AccountName :' }}</strong> <span>{{ account }}</span>
            <br>
            <strong>{{ 'Secret Key :' }}</strong> <span>{{ key }}</span>
            <br>
            <strong>{{ 'Key Type :' }}</strong> 
            <span>{{ 'Key Type: Time Based' }} (OTP - One Time Password)</span>
            <br>
            <img src="{{ qrcode }}" style="width: 150px; height: 150px;">
        </div>

   
        <div>
            {{ 'Confirm your code' }}
            <form method="post">
                <input type="text" class="otp-input" maxlength="1" id="otp1">
                <input type="text" class="otp-input" maxlength="1" id="otp2">
                <input type="text" class="otp-input" maxlength="1" id="otp3">
                <input type="text" class="otp-input" maxlength="1" id="otp4">
                <input type="text" class="otp-input" maxlength="1" id="otp5">
                <input type="text" class="otp-input" maxlength="1" id="otp6">

                <input type="hidden" id="hiddenOtp" name="otp_code">
                <button id="valid_2fa" class="btn btn-primary" style="font-size: 16px; padding:8px 8px;">
                    {{ 'Validate' }}
                </button>
            </form>
        </div>
    </div>
{% else %}
<div class="alert alert-warning">Vous avez la double authentification activé sur votre compte !</div>
{% endif %}

{% block blockjs %}
<script src="/otp.js"></script>
{% endblock %}